body {
    margin:0;
}

.header{
    display:flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 100px;

    font-family: futura;
    background-color: #1F2937;


    --<border: 5px rgb(227, 216, 216) dotted;>--
}

.logo {
    display: flex;
    width: 80px;
    border-radius: 50%;
    margin: 10px 0;

    --<border: 5px white dashed;>--
}

li {
    list-style-type: none;

}
a {
    text-decoration: none;
    font-size: 18px;
    color: #F9FAF8;
}

.header .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;

    --<border: 5px white dashed;>--
}

.header .col{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;


    --<border: 5px yellow dashed;>--
}
.header .col .title {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;


    --<border: 5px skyblue dotted;>--
}
.header .col .text{
    font-size: 18px;
    color: #e5e7eb;

    --<border: 5px lightpink dotted;>--
}

.header .col .button{
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
}

.header .image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    margin-left: 100px;

    --<border: 5px green dashed;>--
}

.main-content{
    display:flex;
    flex-direction:column;
}


.main-content{
    --<border: 10px skyblue dotted;>--
}

.block-01{
    display:flex;
    flex-direction: column;
    padding: 0 50px 10px;
    
    --<border: 5px gold dashed;>--
}

.block-01 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    font-size: 36px;
    font-weight: bold;
    color: #1F2937;


    --<border: 5px dashed salmon;>--
}

.block-01 .images {
    display: flex;
    gap: 20px;

    --<border: blue dashed 5px;>--
}

.block-01 .images .object {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;


    --<border: 5px red dotted;>--
}

.block-01 .images .object .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;


    --<border: 5px red dotted;>--
}



.block-01 .images img {
    display:flex;
    flex-direction: row;
    flex: 1 1 auto;;
    border-radius: 5px;
    width: 150px;
    margin:0;
}

.block-02{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 10px 400px;
}




